.gradle/2.2.1/taskArtifacts
app/build
build
.idea/libraries
app/src/main/obj
app/src/main/libs/armeabi-v7a/libalmalib.so
app/src/main/libs/armeabi-v7a/libalmashot-clr.so
app/src/main/libs/armeabi-v7a/libalmashot-dro.so
app/src/main/libs/armeabi-v7a/libalmashot-hdr.so
app/src/main/libs/armeabi-v7a/libalmashot-night.so
app/src/main/libs/armeabi-v7a/libalmashot-pano.so
app/src/main/libs/armeabi-v7a/libalmashot-seamless.so
app/src/main/libs/armeabi-v7a/libalmashot-sequence.so
app/src/main/libs/armeabi-v7a/libbestshot.so
app/src/main/libs/armeabi-v7a/libhiresportrait.so
app/src/main/libs/armeabi-v7a/libhistogram.so
app/src/main/libs/armeabi-v7a/libpreshot.so
app/src/main/libs/armeabi-v7a/libswapheap.so
app/src/main/libs/armeabi-v7a/libutils-image.so
app/src/main/libs/armeabi-v7a/libutils-jni.so
app/src/main/libs/armeabi-v7a/libyuvimage.so
