app/build
build
.idea/libraries
app/src/main/obj
app/src/main/libs/armeabi-v7a/libhistogram.so
app/src/main/libs/armeabi-v7a/libpreshot.so
app/src/main/libs/armeabi-v7a/libswapheap.so
app/src/main/libs/armeabi-v7a/libutils-image.so
app/src/main/libs/armeabi-v7a/libutils-jni.so
app/src/main/libs/armeabi-v7a/libyuvimage.so
.gradle/2.2.1/taskArtifacts
open-camera-lib/src/main/obj
